<script>
   var experience_data = <%= raw(Hash[@measured_value_aggregations.map.with_index{ |f, i| [f.id, f] }].to_json) %>;
</script>

<script type="text/javascript">
    $(document).ready(function() {
        $dropdowns = $('select.dropdown-experience-type');
        $sum_of_roi = $('#sum-of-roi');
        roi_sum = 0;
        $sum_of_roi.text('$' + roi_sum);

        $dropdowns.change(function() {
            $dropdown = $(this);
            $selection = $dropdown.find("option:selected");
            $ul_container = $dropdown.parent().siblings('ul.diagnostic-results');
            $experience = $ul_container.find('#info-' + $selection.attr('id'));

            if($experience.length == 0)
            {
                counter = $ul_container.find('li').length + 1;

                $experience_data_item = experience_data[$selection.data('experience-id')];
                roi_sum += parseFloat($experience_data_item.average_dollars_saved);

                $experience = $('<li id="info-' + $selection.attr('id') + '"><p class="heading-1">' + counter + '. ' + $experience_data_item.display_name + '</p><p class="highlight-text">Average Amount Saved: $' + $experience_data_item.average_dollars_saved + '</p></li>');
                $ul_container.append($experience);

                // recompute sums
                $sum_of_roi.text('$' + roi_sum);
            }
        });
    });
</script>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    <header>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <h1>ROI Calculator</h1>
                </div>
            </div>            
        </div>        
    </header>

    <!-- Main Content -->
    <main id="main">
        <div class="container-fluid">
            <div class="row">
                <%= render 'welcome/main_content' %>
                <%= render 'welcome/sidebar' %>
            </div>
        </div>
    </main>

    
    <!-- jQuery Version 1.11.0 -->
    <!-- <script src="js/jquery-1.11.0.js"></script> -->
    <%= javascript_include_tag "js/jquery-1.11.0" %>

    <!-- Bootstrap Core JavaScript -->
    <!-- <script src="js/bootstrap.min.js"></script> -->
    <%= javascript_include_tag "js/bootstrap.min" %>

    <!-- Plugin JavaScript -->
    <!-- <script src="js/jquery.easing.min.js"></script> -->
    <%= javascript_include_tag "js/jquery.easing.min" %>

    <!-- Custom Theme JavaScript -->
    <!-- <script src="js/grayscale.js"></script> -->
    <%= javascript_include_tag "js/grayscale" %>

  </body>
