<script type="text/javascript">
    $(document).ready(function() {
        $dropdowns = $('select.dropdown-experience-type');
        
        $dropdowns.change(function() {
            $dropdown = $(this);
            $selection = $dropdown.find("option:selected");
            $ul_container = $dropdown.parent().siblings('ul.diagnostic-results');

            alert('#info-' + $selection.attr('id'));

            $experience = $ul_container.find('#info-' + $selection.attr('id'))
            if($experience.length == 0)
            {
                $experience = $('<li id="info-' + $selection.attr('id') + '"><p class="heading-1">1. Optimize Change Management</p><p class="highlight-text">Average Amount Saved: $10,000</p></li>');
                $ul_container.append($experience);
            }
        });
    });
</script>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    <header>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <h1>ROI Calculator</h1>
                </div>
            </div>            
        </div>        
    </header>

    <!-- Main Content -->
    <main id="main">
        <div class="container-fluid">
            <div class="row">
                <%= render 'welcome/main_content' %>
                <%= render 'welcome/sidebar' %>
            </div>
        </div>
    </main>

    
    <!-- jQuery Version 1.11.0 -->
    <!-- <script src="js/jquery-1.11.0.js"></script> -->
    <%= javascript_include_tag "js/jquery-1.11.0" %>

    <!-- Bootstrap Core JavaScript -->
    <!-- <script src="js/bootstrap.min.js"></script> -->
    <%= javascript_include_tag "js/bootstrap.min" %>

    <!-- Plugin JavaScript -->
    <!-- <script src="js/jquery.easing.min.js"></script> -->
    <%= javascript_include_tag "js/jquery.easing.min" %>

    <!-- Custom Theme JavaScript -->
    <!-- <script src="js/grayscale.js"></script> -->
    <%= javascript_include_tag "js/grayscale" %>

  </body>
