<!DOCTYPE html>
<html>
<head>
</head>
<body>
  <h3>Event properties</h4>
  <%= @events[0] %>
  <hr /><br /><br />

  <h3>Folder properties</h4>
  <%= @folders[0] %>
  <hr /><br /><br />

  <h3>Folders</h3>
  <%= @folders.each do |folder| %>
    <dt><%= folder.name %></dt>
    <dd>
    </dd>
  <% end %>

  <hr /><br /><br />
  <% @events.each do |event| %>
    <dt><%= event.subject %></dt>
    <dd>
      <strong>Start: </strong><%= event.start %>
    </dd>
  <% end %>

</body>
</html>
