<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    <!-- Book Now Footer -->
    <div id="footer-tab" class="footer-tab"><a href="https://888yongeinc.typeform.com/to/CWStPw" data-mode="1" target="_blank" class="typeform-share btn btn-default btn-lg"> Book Now</a> <small>or call</small> <span class="lead"> 1-888-670-8889</span></div>
    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="page-scroll" href="#page-top">
                  <%= image_tag "infotech.png" %>
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#details">Details</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#rooms">Rooms</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <p class="intro-text">Make your event epic at</p>
                        <h1 class="brand-heading">888 YONGE STREET</h1>
                        <ul class="list-inline banner-social-buttons">
                            <li>
                                <a href="https://888yongeinc.typeform.com/to/CWStPw" data-mode="1" target="_blank" class="typeform-share btn btn-default btn-lg"> Book Now</a>
                            </li>
                            <li>
                                <a href="#details" class="page-scroll btn btn-default btn-lg"> <span class="network-name">Details</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>



    <!-- Details Section -->
    <section id="details" class="content-section text-center concert-hall-bg">
        <div class="concert-hall-section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h2>A world-class venue for inspiring corporate events.</h2>
                        <div class="row">
                            <div class="col-xs-6 col-md-3">
                                <div class="thumbnail">
                                    <div class="circle">
                                        <i class="di-meetings-banquets fa-4x"></i>
                                    </div>
                                    <br>
                                    Annual Meetings &amp; Banquets
                                </div>
                            </div>
                            <div class="col-xs-6 col-md-3">
                                <div class="thumbnail">
                                    <div class="circle">
                                        <i class="di-corporate-training fa-4x"></i>
                                    </div>
                                    <br>
                                    Corporate Training
                                </div>
                            </div>
                            <!-- Add the extra clearfix for only the required viewport -->
                            <div class="clearfix visible-xs-block"></div>
                             <div class="col-xs-6 col-md-3">
                                <div class="thumbnail">
                                    <div class="circle">
                                        <i class="di-association-meetings fa-4x"></i>
                                    </div>
                                    <br>
                                    Association Meetings
                                </div>
                            </div>
                            <div class="col-xs-6 col-md-3">
                                <div class="thumbnail">
                                    <div class="circle">
                                        <i class="di-meetings-events fa-4x"></i>
                                    </div>
                                    <br>
                                    Company Meetings &amp; Events
                                </div>
                            </div>
                            <!-- Add the extra clearfix for only the required viewport -->
                            <div class="clearfix visible-xs-block"></div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6 col-md-3">
                                <div class="thumbnail">
                                    <div class="circle film">
                                        <i class="di-films fa-4x"></i>
                                    </div>
                                    <br>
                                    Films &amp; TV Production
                                </div>
                            </div>
                            <div class="col-xs-6 col-md-3">
                                <div class="thumbnail">
                                    <div class="circle">
                                        <i class="di-video fa-4x"></i>
                                    </div>
                                    <br>
                                    Video Production
                                </div>
                            </div>
                            <!-- Add the extra clearfix for only the required viewport -->
                            <div class="clearfix visible-xs-block"></div>
                             <div class="col-xs-6 col-md-3">
                                <div class="thumbnail">
                                    <div class="circle">
                                        <i class="di-seminars fa-4x"></i>
                                    </div>
                                    <br>
                                    Seminars
                                </div>
                            </div>
                            <div class="col-xs-6 col-md-3">
                                <div class="thumbnail">
                                    <div class="circle">
                                        <i class="di-team-building fa-4x"></i>
                                    </div>
                                    <br>
                                    Team-building Workshops
                                </div>
                            </div>
                            <!-- Add the extra clearfix for only the required viewport -->
                            <div class="clearfix visible-xs-block"></div>
                        </div>
                        <a href="#rooms" class="page-scroll btn btn-default btn-lg"> <span class="network-name">Rooms</span></a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Events Section -->
    <section id="events" class="content-section text-center events-bg">
        <div class="rooms-section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h2>Book Your Event</h2>
                    </div>

                    <!-- availability calendar -->
                    <%= month_calendar(attribute: :start, events: @events) do |date, events| %>
                      <%
                        longest_event = events.map(&:duration_in_seconds).max
                        if longest_event
                          # 18000 seconds = 5 hours
                          style = longest_event >= 18000 ? 'all-day' : 'partial'
                        else
                          style = 'available'
                        end
                      %>
                      <div class="event-block <%= style %>">
                        <div class="date-num"><%= date.strftime("%-d") %></div>
                      </div>
                    <% end %>
                    <!-- end of calendar -->





                    <div class="col-lg-12">
                        <h2>Upcoming Events</h2>

                        <%
                          if @events.length > 0
                            i = 0
                            @events.each do |event|
                            %>
                              <% if i == 0 %>
                                <div class="row"><div class="col-xs-2"></div>
                              <% elsif i % 2 == 0 %>
                                <div class="col-xs-2"></div></div><div class="row"><div class="col-xs-2"></div>
                              <% end %>

                              <div class="col-xs-4 event-box">
                                <%= event.start.strftime("%B %Y") %>
                                <%= raw event.body %>
                              </div>
                              <%
                                i += 1
                              end
                              %>
                              <% if @events.length % 2 == 0 %>
                              </div>
                              <% end %>
                          <% end %>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Rooms Section -->
    <section id="rooms" class="content-section text-center rooms-bg">
        <div class="rooms-section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h2>Reserve your space in this six-story heritage building in the heart of Toronto.</h2>
                        <div class="row">
                            <div class="col-xs-12 col-md-4">
                                <div class="thumbnail">
                                    <img class="img-thumbnail" src="img/room-concert-hall.jpg" alt="The Concert Hall" />
                                    <br>
                                    <h3>The Concert Hall</h3>
                                    <p>
                                        Adaptable to small or large groups, the Concert Hall features a large stage for presentations and generous floor space with numerous seating and table service options.
                                    </p>
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-4">
                                <div class="thumbnail">
                                    <img class="img-thumbnail" src="img/room-white.jpg" alt="The White Room" />
                                    <br>
                                    <h3>The White Room</h3>
                                    <p>
                                        An inspiring space for corporate training or workshops. Write on the walls, or even the floor.
                                    </p>
                                </div>
                            </div>
                             <div class="col-xs-12 col-md-4">
                                <div class="thumbnail">
                                    <img class="img-thumbnail" src="img/room-red.jpg" alt="The Red Room" />
                                    <br>
                                    <h3>The Red Room</h3>
                                    <p>
                                        A charming heritage venue, with orginal woodwork, ideal for receptions.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Events Section -->
    <section id="events" class="content-section text-center events-bg">
        <div class="events-section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h2>Book Your Event</h2>
                    </div>

                    <div class="col-lg-12">
                        <h2>Upcoming Events</h2>

                        <div class="row">
                            <div class="col-xs-2"></div>
                            <div class="col-xs-4 event-box" style="text-align: left; background: url('/img/event-mocks/Bachman.jpg'); background-size: 100% 100%;">
                              <span style="font-family: Montserrat; font-size: 26px; font-weight: 900">June 23</span>

                              <br /><br /><br /><br />
                              <span style="font-family: Montserrat; font-size: 18px; font-weight: 900; color: #34c1ce;">
                                Randy Bachman and Band with special guests Walter Trout &amp; Laila Biali
                              </span>

                              <br /><br />
                              <span style="font-family: Roboto; font-weight: 300; font-size: 14px">
                                Fri Jun 23 8:30pm<br />
                                <span style="font-weight: 700;">The Concert Hall</span><br />
                                Toronto Jazz Festival<br />
                                Presented by Q107<br />
                              </span>
                            </div>
                            <div class="col-xs-4 event-box" style="text-align: left; background: url('/img/event-mocks/ACS.jpg'); background-size: 100% 100%;">
                              <span style="font-family: Montserrat; font-size: 26px; font-weight: 900">June 23</span>

                              <br /><br /><br /><br />
                              <span style="font-family: Montserrat; font-size: 18px; font-weight: 900; color: #34c1ce;">
                                Randy Bachman and Band with special guests Walter Trout &amp; Laila Biali
                              </span>

                              <br /><br />
                              <span style="font-family: Roboto; font-weight: 300; font-size: 14px">
                                Fri Jun 23 8:30pm<br />
                                <span style="font-weight: 700;">The Concert Hall</span><br />
                                Toronto Jazz Festival<br />
                                Presented by Q107<br />
                              </span>
                            </div>
                            <div class="col-xs-2"></div>
                        </div>

                        <div class="row">
                          <div class="col-xs-2"></div>
                          <div class="col-xs-4 event-box" style="text-align: left; background: url('/img/event-mocks/Spings&Glasper.jpg'); background-size: 100% 100%;">
                            <span style="font-family: Montserrat; font-size: 26px; font-weight: 900">June 23</span>

                            <br /><br /><br /><br />
                            <span style="font-family: Montserrat; font-size: 18px; font-weight: 900; color: #34c1ce;">
                              Randy Bachman and Band with special guests Walter Trout &amp; Laila Biali
                            </span>

                            <br /><br />
                            <span style="font-family: Roboto; font-weight: 300; font-size: 14px">
                              Fri Jun 23 8:30pm<br />
                              <span style="font-weight: 700;">The Concert Hall</span><br />
                              Toronto Jazz Festival<br />
                              Presented by Q107<br />
                            </span>
                          </div>
                          <div class="col-xs-4 event-box" style="text-align: left; background: url('/img/event-mocks/Shabaka.jpg'); background-size: 100% 100%;">
                            <span style="font-family: Montserrat; font-size: 26px; font-weight: 900">June 23</span>

                            <br /><br /><br /><br />
                            <span style="font-family: Montserrat; font-size: 18px; font-weight: 900; color: #34c1ce;">
                              Randy Bachman and Band with special guests Walter Trout &amp; Laila Biali
                            </span>

                            <br /><br />
                            <span style="font-family: Roboto; font-weight: 300; font-size: 14px">
                              Fri Jun 23 8:30pm<br />
                              <span style="font-weight: 700;">The Concert Hall</span><br />
                              Toronto Jazz Festival<br />
                              Presented by Q107<br />
                            </span>
                          </div>
                          <div class="col-xs-2"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- jQuery Version 1.11.0 -->
    <!-- <script src="js/jquery-1.11.0.js"></script> -->
    <%= javascript_include_tag "js/jquery-1.11.0" %>

    <!-- Bootstrap Core JavaScript -->
    <!-- <script src="js/bootstrap.min.js"></script> -->
    <%= javascript_include_tag "js/bootstrap.min" %>

    <!-- Plugin JavaScript -->
    <!-- <script src="js/jquery.easing.min.js"></script> -->
    <%= javascript_include_tag "js/jquery.easing.min" %>

    <!-- Custom Theme JavaScript -->
    <!-- <script src="js/grayscale.js"></script> -->
    <%= javascript_include_tag "js/grayscale" %>


  </body>
