<!-- <!DOCTYPE html>
<html>
<head>
  <title>OutlookTest</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="Header">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <%= image_tag "infotech.png" %>
      </div>
      <div class="col-md-6">
        <nav>
          <a href="/">Events calendar</a>
          <a href="/">Book a venue</a>
        </nav>
      </div>
    </div>
  </div>
</div>

<div class="container"> -->
  <%= yield %>
<!-- </div>

</body>
</html> -->
